.App {
  text-align: center;
  background-image: url("/images/wallpaper.jpg");
  background-size: cover;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.App__logo {
  width: 300px;
  z-index: 1;
  margin: 25px auto 0;
}

.App__input {
  color: white;
}

.App__output {
  color: white;
}
